.footer {
  width: 100%;
  background-color: rgba(16, 23, 32, 1);
}

.footer-content {
  width: 60%;
  margin: auto;
  /* background-color: rgba(16, 23, 32, 1); */

}

.upper-footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-topics {
  padding: 0;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-topic {
  color: white;
  list-style: none;
  padding: 20px;
  font-size: 20px;
  font-family: helvetica,arial,sans-serif;
}

.upper-footer-items {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: helvetica,arial,sans-serif;
}

.upper-footer-items:hover {
  text-decoration: underline;
}

.footer-follow-us {
  color: white;
  font-size: 24px;
  font-family: helvetica,arial,sans-serif;
  margin-bottom: 10px;
}

.follow-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px 0 15px 0;
  padding: 5px 0 15px 0;

}

.follow-icon {
  padding: 0 20px;
  color: white;
  list-style: none;
  font-size: 30px;
}

.language-selector {
  width: 200px;
  margin-bottom: 30px;
}
.footer-notes {
  /* margin: 20px 0; */
  padding-bottom: 20px;

}
label {
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  padding: 30px 0  10px 0;
}

p {
  font-size: 15px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
  color: lightgray;
}

body {
  margin: 0;
}
/*  navigation style components */
.form-layout {
  background-color: #fafafa;
  padding: 100px;
  box-sizing: border-box;
}

.formInfo {
  border-radius: 5px 5px 0 0;
  border: 2px solid #dcdcdc;
  width: 500px;
  margin: auto;
  padding: 0 50px;
  padding-top: 50px;
  background-color: white;
  /* height: 600px; */
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  /* height: 600px; */
  background-color: white;
  padding: 0 50px;
  /* box-sizing: border-box; */
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
}

.alternative-auth {
  border-radius: 0 0 5px 5px;
  height: 200px;
  width: 500px;
  background-color: rgba(216, 223, 233, 1);
  padding: 0 50px;
  margin: 0 auto;
  border: 2px solid #dcdcdc;
  border-top: 1px solid rgba(26,34,209);
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lock-img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.form-title {
  font-size: 40px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
}

.formInfo > p {
  font-size: 20px;
  font-weight: 600;
  font-family: helvetica,arial,sans-serif;
  padding-bottom: 10px;
}

.input-field {
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  width: 100%;
}

.input-field:focus {
  border: 3px solid rgba(26,34,209);
}

.form-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.form-header > h1 {
  padding: 0;
  margin: 0;
}
.submit-button-login {
  width: 125px;
  /* height: 50px; */
  border-radius: 10px;
  background-color: #eb2040;
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin: 30px 0;
}

.auth-link {
  color: rgba(26,34,209);
  text-decoration: none;
}
.auth-link:hover {

  text-decoration: underline;
}

.not-yet-registered {
  color: black;
}

.or {
  color: black;
  background-color: white;
  font-family: helvetica,arial,sans-serif;
  border-radius: 15px;
  padding: 5px;
  width: 40px;
  margin: auto;
  position: relative;
  top: -20px;
}

/* user register form */

.user-form {
  width: 500px;
  margin: auto;
}

.submit-button-signup {
  border-radius: 10px;
  background-color: #eb2040;
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin: 30px 0;
  width: 100%;
}

.registering-form-title {
  font-size: 40px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
  width: 150px;
  margin: auto;
}
.submitting-section {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.subtext {
  text-align: center;
  line-height: 1.75;
}

.ending-subtext {
  color: gray;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: 20px;
}

.already-user {
  color: gray;
  padding-top: 20px;
  margin: 0 auto;
  font-family: helvetica,arial,sans-serif;

}

/*  header style components */

.homepage-header-container {
  width: 100%;
  position: relative;
}
.header-video {
  width: 100%;
  position: absolute;
}

.header-title {
  font-size: 3vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
}

.header-subtitle {
  font-size: 1.5vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
}

.homepage-header-content {
  width: 30%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 3;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage-header-signup{
  border-radius: 10px;
  background-color: #eb2040;
  font-size: 2vw;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px 2vw;
  /* margin: 30px 0; */
  width: 70%;
  text-decoration: none;
  text-align: center;
}
.homepage-header-signup:hover {
  background-color: red;
}
.interest-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}
.interests-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}

.interest-item {
  margin: 20px;
}

.category-img {
  border-radius: 5px;
  object-fit: cover;
  width: 400px;
  height: 200px;
}
/*  navigation style components */

.navigation-container {
  /* position: fixed; */
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid grey
}

.logo {
  color: #eb2040;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin: 10px;
  text-decoration: none;
}
.nav-menu {
  /* width: 500px; */
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.new-group-button {
  border-right: 1px solid gray;
  font-family: helvetica,arial,sans-serif;
  font-weight: 400;
  padding: 15px 30px;
  margin: auto 0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #eb2040;
}

.auth-item {
  font-family: helvetica,arial,sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  margin: auto 0;
  color: gray;
  padding: 20px 30px;
  font-weight: bold;
}

.auth-item:hover {
  color: #eb2040;
}

.profile-circle {
  width: 100px;
  border-radius: 50px;
}



.dropdown {
  position: relative;
  display: block;
  padding: 0 20px;
}
.dropdown:hover .dropdown-container {
    display: block;
}

.account-actions {
  list-style: none;
  padding: 20px;
}

.nav-center-item {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.account-actions:hover {
  background-color: #eb2040;
  color: white;

}


.dropdown-container {
    display: none;
    position: absolute;
    right: 15px;
      top: 100px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

  	border: 4px solid #eb2040;
}

.dropdown-container:after, .dropdown-container:before {
	bottom: 100%;
	left: 75%;

	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-container:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -15px;
}
.dropdown-container:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #eb2040;
	border-width: 21px;
	margin-left: -21px;
}
.OnMobile-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  align-items: center;
}
.OnMobile-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;

}
.phone-img{
  height: 40vw;
}
.on-mobile-img {
  height: 100px;
  margin: 25px;
}
.Get-the-app {
  margin: 25px;
  font-size: 72px;
  color: rgba(44, 62, 72, 1);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
