.calendar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 30px 0;
}

.calendar-header {
  justify-content: center;
  align-items: baseline;
  margin: 10px 5px;
  border-bottom: 1px solid lightgray;
  border: 1px solid lightgray;
  border-radius: 5px 5px 0 0;
}

.calendar-row {
  border-right: 1px solid lightgray;
}

.calendar-title {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.calendar-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.daysOfWeek {
}

.calendar-cell {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;

}

.today-cell {
  background-color: #eef0ff;
  color: #1b12ce;
  box-shadow: inset 2px 2px 10px darkgray
}
.week-cell {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 20px;
}
.selected-cell {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 20px;
}

.filter-selector {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

.filter-selector > .event-main-filter-item:last-child {
  border-bottom: 0px solid white;
}


.event-main-filter-item {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.selected-event-filter {
  border-left: 5px solid #1b12ce;
  color: #1b12ce;

}
