#update-photo-form #display-update-photo-form {
  transition: 1s linear;
}

#update-photo-form {
  display: flex;
  flex-direction: column;

}

.img-preview {
  background-color: white;
  margin: 5px 0;
  border-radius: 10px 0 0 0;
  height: 150px;
  width: 250px;
}
.updating-icon {
  color: white;
}
.edit-image-background {
  font-size: 200%;
  padding: 2pc 1pc 1pc 2pc;
  background-color: #eb2040;
  border-radius: 100px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-image-background:hover {
  padding: 2.5pc 1pc 1pc 2.5pc;
  cursor: pointer;
}

.edit-image-background:hover > .edit-image {
  /* color: #00a1c9; */
}
.img-container {
  max-height: 350px;
  width: max-content;
  position: relative;
}

.photo-label {
  margin: 2px 0;
  font-size: 8px;
  color: white
}

.action-icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.action-icon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.hide {
  /* display: none; */
  width: 0;
  height: 0;
  visibility: hidden;
}
