#google_translate_element{
  width: 40px;
}

.footer {
  width: 100%;
  background-color: rgba(16, 23, 32, 1);
}

.footer-content {
  width: 1000px;
  max-width: 1000px;
  margin: auto;
}

.upper-footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-topics {
  padding: 0;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-topic {
  color: white;
  list-style: none;
  padding-right: 40px;
  padding-top: 10px;
  font-size: 15px;
  font-family: helvetica,arial,sans-serif;
}

.upper-footer-items {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: helvetica,arial,sans-serif;
}

.upper-footer-items:hover {
  text-decoration: underline;
}

.footer-follow-us {
  color: white;
  font-size: 15px;
  font-family: helvetica,arial,sans-serif;
  margin-bottom: 10px;
}

.follow-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px 0 15px 0;
  padding: 5px 0 15px 0;

}

.follow-icon {
  padding: 0 20px;
  color: white;
  list-style: none;
  font-size: 15px;
}

.language-selector {
  width: 200px;
  margin-bottom: 30px;
}
.footer-notes {
  /* margin: 20px 0; */
  padding-bottom: 20px;

}
