label {
  font-size: 15px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  padding: 30px 0  10px 0;
}

p {
  font-size: 15px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
  color: lightgray;
}

body {
  margin: 0;
  font-family: helvetica,arial,sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

/*  navigation style components */
.form-layout {
  background-color: #fafafa;
  padding: 50px;
  box-sizing: border-box;
}

.signout-form-layout {
  background-color: white;
  padding: 20px 50px;
  box-sizing: border-box;
}

.formInfo {
  border-radius: 5px 5px 0 0;
  border: 1px solid #dcdcdc;
  width: 400px;
  margin: auto;
  padding: 0 50px;
  padding-top: 20px;
  background-color: white;
  /* height: 600px; */
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  /* height: 600px; */
  background-color: white;
  padding: 0 50px;
  /* box-sizing: border-box; */
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}

.alternative-auth {
  border-radius: 0 0 5px 5px;
  height: 100px;
  width: 400px;
  background-color: rgba(216, 223, 233, 1);
  padding: 0 50px;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  border-top: 1px solid rgba(26,34,209, 1);
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lock-img {
  width: 25px;
  height: 25px;
  padding-left: 10px;
}

.form-title {
  font-size: 30px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
}

.formInfo > p {
  font-size: 15px;
  font-weight: 600;
  font-family: helvetica,arial,sans-serif;
  padding-bottom: 10px;
}

.input-field {
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  background-color: #fafafa;
  width: 100%;
}

.input-field:focus {
  border: 3px solid rgba(26,34,209, 1);
}

.form-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.form-header > h1 {
  padding: 0;
  margin: 0;
}
.submit-button-login {
  width: 100px;
  /* height: 50px; */
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 18px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 8px;
  margin: 10px 0;
}

.auth-link {
  color: rgba(26, 34, 209, 1);
  text-decoration: none;
}
.auth-link:hover {

  text-decoration: underline;
}

.not-yet-registered {
  color: black;
}

.or {
  width: max-content;
  color: black;
  background-color: white;
  font-family: helvetica,arial,sans-serif;
  border-radius: 15px;
  padding: 5px;
  /* width: 40px; */
  margin: 0 auto;
  position: relative;
  top: -20px;
}

/* user register form */

.user-form {
  width: 400px;
  margin: auto;
}

.submit-button-signup {
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 15px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.demo-signup {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 15px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 100%;
}

.demo-login {
  margin-top: 0px;
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 15px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 100%;
}

.registering-form-title {
  font-size: 25px;
  line-height: 1;
  font-family: helvetica,arial,sans-serif;
  width: 150px;
  margin: 0 auto;
}
.submitting-section {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.subtext {
  font-size: 12px;
  text-align: center;
  line-height: 1.75;
}
.begining-subtext {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}


.ending-subtext {
  color: gray;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: 20px;
}

.already-user {
  color: gray;
  padding-top: 20px;
  margin: 0 auto;
  font-family: helvetica,arial,sans-serif;

}

.err-message {
  padding-top: 5px;
  list-style: none;
  font-family: helvetica,arial,sans-serif;
  color: red;
}
