label {
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  padding: 30px 0  10px 0;
}

p {
  font-size: 15px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
  color: lightgray;
}

/*  navigation style components */
.form-layout {
  background-color: #fafafa;
  padding: 100px;
  height: 700px;
}

.formInfo {
  border-radius: 5px 5px 0 0;
  border: 2px solid #dcdcdc;
  width: 500px;
  margin: auto;
  padding: 0 50px;
  padding-top: 50px;
  background-color: white;
  /* height: 600px; */
}
.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  /* height: 600px; */
  background-color: white;
  padding: 0 50px;
  /* box-sizing: border-box; */
  border-left: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
}

.alternative-auth {
  border-radius: 0 0 5px 5px;
  height: 200px;
  width: 500px;
  background-color: rgba(216, 223, 233, 1);
  padding: 0 50px;
  margin: 0 auto;
  border: 2px solid #dcdcdc;
  border-top: 1px solid rgba(26,34,209);
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lock-img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.form-title {
  font-size: 40px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
}

.formInfo > p {
  font-size: 20px;
  font-weight: 600;
  font-family: helvetica,arial,sans-serif;
  padding-bottom: 10px;
}

.input-field {
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  width: 100%;
}

.input-field:focus {
  border: 3px solid rgba(26,34,209);
}

.form-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.form-header > h1 {
  padding: 0;
  margin: 0;
}
.submit-button-login {
  width: 125px;
  /* height: 50px; */
  border-radius: 10px;
  background-color: #eb2040;
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin: 30px 0;
}

.auth-link {
  color: rgba(26,34,209);
}

.not-yet-registered {
  color: black;
}

.or {
  color: black;
  background-color: white;
  font-family: helvetica,arial,sans-serif;
  border-radius: 15px;
  padding: 5px;
  width: 40px;
  margin: auto;
  position: relative;
  top: -20px;
}

/* user register form */

.user-form {
  width: 500px;
  margin: auto;
  border-bottom: 2px solid #dcdcdc;
}

.submit-button-signup {
  border-radius: 10px;
  background-color: #eb2040;
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 20px;
  margin: 30px 0;
  width: 100%;
}

.registering-form-title {
  font-size: 40px;
  line-height: 1.25;
  font-family: helvetica,arial,sans-serif;
  width: 150px;
  margin: auto;
}
.submitting-section {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.subtext {
  text-align: center;
  line-height: 1.75;
}

.ending-subtext {
  color: gray

}

/* .already */
