.groups-index-item {
  position: relative;
  width: 300px;
  height: 200px;
  object-fit: cover;
  list-style: none;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.group-titleing {
  position: absolute;
  word-wrap: break-word;
  bottom: 20%;
  left: 10%;
  text-shadow: 1px 1px 2px gray;
}

.groups-index {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0 auto 50px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.group-title {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
}

.group-subtitle {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
}

.radi-option {
  color: black;
  list-style: none;
  padding: 10px;
  white-space: nowrap;
}
.radi-option:hover {
  background-color: lightgray;
  color: white
}

.Groups-Image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}


.radi-dropdown-container {
    /* display: block; */
    border-radius: 5px;
    /* for arrow */
    position: relative;
  	background: white;
}

.radi-dropdown-container:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 5px;
	margin-left: -5px;
}

.radi-dropdown {
  position: relative;
  padding-left: 0;
  outline: none;
}

.radi-dropdown-container {
  display: none;
  position: absolute;
  left: -50px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;

}

.radi-dropdown:focus .radi-dropdown-container {
  display: block;
  z-index: 100;
}
/* .find-page-container-content {
  background-color: rgba(255, 0, 0, 0.3);
  z-index: -1
} */
/* .radi-dropdown:hover + .groups_index {
  z-index: -1;
  background-color:red;
} */
/* .search-component:focus + .groupsIndex{
  z-index: -1;
} */


.group-show-header {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: center;

}

.group-show-subinfo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 400;
  margin: auto;
}

.group-show-subinfo > li {
  padding-right: 10px;
  margin: 0;
  font-size: 0.95vw;
}
.dot {
  list-style-type: disc;
  color: black;
  padding: 3px;
}

.group-show-info{
  width: 50%;
  margin: 0 30px;
  font-size: 16px;
  font-weight: 400;
}

.group-show-img {
  height: 350px;
  width: inherit;
  object-fit: cover;
  border-radius: 10px;
}
.show-organizer-circle {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
.group-organizer-info {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

.organizer-name {
  font-weight: bold;
}

.group-organizer-textinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 20px;
}

.member-type {
  margin: 10px 0;
}
.group-menu-bar-div {
  border-top: 1px solid lightgray;
  width: 100%;
}
.group-menu-bar {
  width: 90%;
  margin: 5px auto;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;

  justify-content: flex-start;
  align-items: baseline;
}
.group-menu-item {
  padding-right: 60px;
}

.background {
  background-color: #f6f7f8;
  display: flex;
  justify-content: space-around;
  width: 100%
}

.main-detail-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
}

.about-us-content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;

}
.group-headings {
  font-weight: 500;
  font-size: 24px;
}

.group-description {
  font-size: 16px;
  width: 100%;
  line-height: 2;
  margin: 20px 0;
  word-break: normal;
  /* display: inline-block; */
}

.group-organizer-content {
  width: 100%;
  margin: 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;

}


.group-members-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap row;
  justify-content: flex-start;
}

.group-member-content {
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.group-membership-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.hovered-content {
  background-color: white;
  border-radius: 10px;
}
.hovered-content:hover {
  box-shadow: 1px 1px 2px gray
}

.show-member-circle {
  height: 80px;
  width: 80px;
  min-width: 80px;
  border-radius: 40px;
  margin: 20px;
}

.fa-comments {
  width: 100px;
  height: 100px;
  color: darkgray;
  background-color: lightgray;
  border-radius: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-discussions {
  border: 2px dashed lightgray;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.member-name {
  margin: 10px 0;
}

.discussions {
  color: darkgray;
}

.header-img {
  width: 100%;
  height: 275px;
}

.join-unjoin-button {
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 14px;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 8px 20px;
  margin: 10px 0;
}

.create-event-button {
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 14px;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 8px 20px;
  margin: 10px 0;
  width: 80%;
}
