
.route-wraper {
  display: flex;
  flex-direction: column;
}
/*  header style components */
.homepage-header-container {
  width: 100%;
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}
.header-video {
  width: 100%;
}

.header-title {
  margin: 0;
  text-align: center;
  font-size: 3.5vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
}

.header-subtitle {
  font-size: 1.5vw;
  font-family: helvetica,arial,sans-serif;
  color: white;
}

.homepage-header-content {
  width: 35%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 32.5%;
  z-index: 3;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage-header-signup{
  border-radius: 5px;
  background-color: #eb2040;
  font-size: 1vw;
  font-weight: 400;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: white;
  padding: 15px 1vw;
  /* margin: 30px 0; */
  width: 60%;
  text-decoration: none;
  text-align: center;
}
.homepage-header-signup:hover {
  background-color: red;
}
