.interest-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}
.interests-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  padding: 0;
  margin: 0;

}

.interest-item {
  margin: 8px;
}

.category-img {
  border-radius: 5px;
  object-fit: cover;
  width: 160px;
  height: 80px;
}
