.interest-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}
.interests-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 1200px;
}

.interest-item {
  margin: 8px;
}

.category-img {
  border-radius: 5px;
  object-fit: cover;
  width: 250px;
  height: 150px;
}
