.interest-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 8px;

}
.interests-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  padding: 0;
  margin: 75px auto;
  width: 80%;
}

.category-img {
  border-radius: 5px;
  object-fit: cover;
  width: 200px;
  height: 125px;
}
