#create-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.create-chat-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
}
.form-submit-section {
  display: flex;
  justify-content: space-between;

}
.chat-button {
  border-radius: 10px;
  width: 40%;
  margin: 10px 0;
  padding: 10px;
  background-color: #009fcb;
  color: white;
}

.background-container {
  background-color: lightgray;
  width: 100%;
}

.chat-container {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.chats-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  max-width: 30%;
  margin: 0 10px;
}

.create-chat {
  /* margin: 10px; */
  padding: 10px;
  background-color: #009fcb;
  font-size: 14px;
  color: white;
  border-radius: 10px;
}
.message-text-header {
  display: flex;
  justify-content: space-between;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.chat-index {
  min-width: 100%;
  height: 90%;
  padding: 10px;
  background-color: darkgray;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.chat-index-item {
  margin: 10px;
  padding: 10px;
  background-color: #009fcb;
  font-size: 14px;
  color: white;
  border-radius: 10px;
}

.message-container {
  background-color: #009fcb;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
}

.message-index {
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 95%;
  height: 75%;
  border-radius: 10px;
  transition: 1s;
}

.message-index-item {
  max-width: 40%;
  min-height: max-content;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: baseline;
  margin: 5px;
  box-sizing: border-box;

}
.message-right {
  align-self: flex-end;
  background-color: gray
}
.message-left {
  align-self: flex-start;
  background-color: lightgray
}

.user-chat-img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.message-text {
  margin: 5px;
}

.message-controller {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  width: 95%;

}

.message-editor {
  border: 0px;
  border-bottom: 2px solid #009fcb;
  width: 90%;
  outline: none;
  padding: 5px;
}

.message-chat-title {
  color: white;
  width: max-content;
  font-size: 20px;
  font-weight: 400;
  margin: 5px auto;
}

.message-chat-members {
  margin: 0 auto;

  padding: 0 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 40px;
  width: max-content;
  overflow-x: scroll;
}

.message-sender {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: max-content;
  border: 0px solid gray;
}
.message-sender:hover {
  color: #009fcb;
}


.new-message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.new-message {
  width: max-content;
}
.new-message-icon {
  margin: 10px auto;
  width: 5vw;
  height: 5vw;
  object-fit: contain;
}
