/*  navigation style components */
.navigation-container {
  /* position: fixed; */
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid grey
}

.logo {
  color: #eb2040;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  margin: 0px;
  padding: 5px 20px;
  text-decoration: none;
}
.nav-menu {
  /* width: 500px; */
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.new-group-button {
  border-right: 1px solid gray;
  font-family: helvetica,arial,sans-serif;
  font-weight: 400;
  padding: 15px 30px;
  margin: auto 0;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #eb2040;
}

.auth-item {
  font-family: helvetica,arial,sans-serif;
  font-size: 15px;
  text-decoration: none;
  margin: auto 0;
  color: gray;
  padding: 20px 30px;
  font-weight: bold;
}

.auth-item:hover {
  color: #eb2040;
}

.profile-circle {
  width: 100px;
  border-radius: 50px;
}



.dropdown {
  position: relative;
  display: block;
  padding: 0 20px;
}
.dropdown:hover .dropdown-container {
    display: block;
}

.account-actions {
  list-style: none;
  padding: 20px;
}

.nav-center-item {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.account-actions:hover {
  background-color: #eb2040;
  color: white;

}


.dropdown-container {
    display: none;
    position: absolute;
    right: 15px;
      top: 100px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

  	border: 4px solid #eb2040;
}

.dropdown-container:after, .dropdown-container:before {
	bottom: 100%;
	left: 75%;

	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dropdown-container:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -15px;
}
.dropdown-container:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #eb2040;
	border-width: 21px;
	margin-left: -21px;
}
