.OnMobile-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  align-items: center;
}
.OnMobile-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;

}
.phone-img{
  width: 120px;
}
.on-mobile-img {
  height: 30px;
  margin: 8px;
}
.Get-the-app {
  margin: 15px;
  font-size: 15px;
  color: rgba(44, 62, 72, 1);
}
