.OnMobile-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  align-items: center;
}
.OnMobile-container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  margin: 0 10px;
  box-sizing: border-box;
  padding: 10px;

}
.phone-img{
  width: 300px;
}
.on-mobile-img {
  height: 50px;
  margin: 10px;
}
.Get-the-app {
  margin: 15px;
  font-size: 25px;
  color: rgba(44, 62, 72, 1);
}
